<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Honey Wei Music</title>
  <!-- 样式 -->
  <link rel="stylesheet" href="./css/index.css">
</head>

<body>
  <div class="wrap">
    <div class="play_wrap" id="player">
      <div class="search_bar">
        <img src="images/player_title.webp" alt="" />
        <!-- 搜索歌曲 -->
        <input type="text" autocomplete="off" v-model='query' @keyup.enter="searchMusic();" />
      </div>
      <div class="center_con">
        <!-- 搜索歌曲列表 -->
        <div class='song_wrapper' ref='song_wrapper'>
          <ul class="song_list">
            <li v-for="item in musicList">
              <!-- 点击放歌 -->
              <a href="javascript:;" @click='playMusic(item.id || item.id)'></a>
              <b>{{item.name || item.name}}</b>
              <span>
                <span class="singer">{{item.singer || (item.artists && item.artists[0] ? item.artists[0].name : '未知歌手')}}</span>
              </span>
            </li>

          </ul>
          <img src="images/line.webp" class="switch_btn" alt="">
        </div>
        <!-- 歌曲信息容器 -->
        <div class="player_con" :class="{playing:isPlaying}">
          <img src="images/player_bar.webp" class="play_bar" />
          <!-- 黑胶碟片 -->
          <img src="images/disc.webp" class="disc autoRotate" />
          <img :src="musicCover==''?'./images/cover.webp':musicCover" class="cover autoRotate" />
        </div>
        <!-- 歌曲信息显示 - 移到唱片下方 -->
        <div class="music_info">
          <h3 class="music_name">{{currentMusic.name || '未播放歌曲'}}</h3>
          <p class="music_singer">{{currentMusic.singer || '未知歌手'}}</p>
        </div>
        <!-- 歌词容器 -->
        <div class="lyric_wrapper" ref='lyric_wrapper'>
          <h5 class='title'>歌词</h5>
          <div class='lyric_list' ref='lyric_list'>
            <p v-for="(line, index) in lyricList" :key="index" :class="{active: currentLyricIndex === index}">
              {{line.text}}
            </p>
          </div>
          <img src="images/line.webp" class="right_line">
        </div>
      </div>
      <div class="audio_con">
        <audio ref='audio' @play="play" @pause="pause" @error="handleAudioError" :src="musicUrl" autoplay class="myaudio"></audio>
        <!-- 自定义进度条和控制按钮 -->
        <div class="progress_wrapper">
          <div class="time_info">
            <span class="current_time">{{currentTimeText}}</span>
            <span class="total_time">{{durationText}}</span>
          </div>
          <div class="progress_bar" @click="updateProgress($event)">
            <div class="progress_bg"></div>
            <div class="progress_current" :style="{width: progressWidth}"></div>
            <div class="progress_dot" :style="{left: progressWidth}"></div>
          </div>
          <!-- 播放控制按钮 -->
            <div class="play_controls">
              <button class="control_btn prev_btn" @click="playPrevSong" title="上一首">
                <span class="btn_icon prev_icon"></span>
              </button>
              <button class="control_btn play_btn" @click="togglePlay" title="播放/暂停">
                <span class="btn_icon play_icon" v-if="!isPlaying"></span>
                <span class="btn_icon pause_icon" v-else></span>
              </button>
              <button class="control_btn next_btn" @click="playNextSong" title="下一首">
                <span class="btn_icon next_icon"></span>
              </button>
              <button class="control_btn download_btn" @click="downloadMusic" title="下载歌曲">
                <span class="btn_icon download_icon"></span>
              </button>
            <!-- 音量控制 -->
            <div class="volume_control">
              <div class="volume_icon" @click="toggleMute" :class="{muted: isMuted}"></div>
              <div class="volume_bar" @click="updateVolume($event)">
                <div class="volume_bg"></div>
                <div class="volume_current" :style="{width: volumeWidth}"></div>
                <div class="volume_dot" :style="{left: volumeWidth}"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 开发环境版本，包含了有帮助的命令行警告 -->
  <!-- 引入Vue和Axios -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <!-- 引入主脚本 -->
  <script src="./js/main.js"></script>
</body>

</html>